
<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span style="cursor: default">Home</span>
      </li>
      <li class="breadcrumb-item active">
        <span id="sheets">Calendar</span>
      </li>
    </ol>
  </div>


  <div class="container-fluid container-fixed-lg">
      <div class="card card-default p-3 mt-4">
          <div class="row">
              <div class="col-md-8">

                  <div>
                      <div class="row text-center" style="margin-top: 10px">

                          <div class="col-md-4" style="text-align:left">
                              <div class="btn-group">
                                  <button class="btn btn-primary"
                                   mwlCalendarPreviousView
                                  [view]="view"
                                  [(viewDate)]="viewDate"
                                  (viewDateChange)="closeOpenMonthViewDay()">
                                    <i class="fa fa-chevron-left"></i>
                                  </button>
                                  <button class="btn btn-primary"
                                  mwlCalendarNextView
                                  [view]="view"
                                  [(viewDate)]="viewDate"
                                  (viewDateChange)="closeOpenMonthViewDay()">
                                    <i class="fa fa-chevron-right"></i>
                                  </button>
                              </div>
                          </div>

                          <div class="col-md-4">
                              <h4 style="font-weight: bold; color: #2368A0; margin-top: -1px">
                                {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
                              </h4>
                          </div>

                          <div class="col-md-4" style="text-align: right">
                              <div class="btn-group"
                              mwlCalendarToday
                              [(viewDate)]="viewDate">
                                <div class="btn btn-primary">Today</div>
                              </div>
                          </div>

                      </div>
                  </div>


                <div class="mt-2">

                      <div [ngSwitch]="view">
                            <mwl-calendar-month-view
                            *ngSwitchCase="CalendarView.Month"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            >
                            </mwl-calendar-month-view>
                            <mwl-calendar-week-view
                            *ngSwitchCase="CalendarView.Week"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            >
                            </mwl-calendar-week-view>
                            <mwl-calendar-day-view
                            *ngSwitchCase="CalendarView.Day"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            >
                            </mwl-calendar-day-view>
                      </div>
                </div>

            
              </div>

              <div class="col-md-4">
                  <div>

                    <cdk-accordion class="example-accordion">

                        <cdk-accordion-item
                          *ngFor="let item of items; let index = index;"
                          #accordionItem="cdkAccordionItem"
                          class="example-accordion-item"
                          role="button"
                          tabindex="0"
                          [attr.id]="'accordion-header-' + index"
                          [attr.aria-expanded]="accordionItem.expanded"
                          [attr.aria-controls]="'accordion-body-' + index">
                          <div id="item" class="example-accordion-item-header" (click)="accordionItem.toggle()">
                            {{ item }}
                          </div>

                          <div
                            class="example-accordion-item-body"
                            role="region"
                            [style.display]="accordionItem.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + index"
                            [attr.aria-labelledby]="'accordion-header-' + index">

                            <div class="card-body">
                                <div class="empty" style="text-align: center;">
                                    <img class="thumbnail" onerror="this.src='./src/assets/images/no-results.png';"
                                     src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="height: 50px; width: 50px"/>
                                    <br>
                                    "No events found"
                                </div>
                            </div>

                          </div>
                        </cdk-accordion-item>

                        <div class="space"></div>

                        <cdk-accordion-item
                        *ngFor="let item of items1; let index = index;"
                        #accordionItem="cdkAccordionItem"
                        class="example-accordion-item"
                        role="button"
                        tabindex="0"
                        [attr.id]="'accordion-header-' + index"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + index">
                        <div id="item1" class="example-accordion-item-header" (click)="accordionItem.toggle()">
                          {{ item }}
                        </div>

                        <div
                          class="example-accordion-item-body"
                          role="region"
                          [style.display]="accordionItem.expanded ? '' : 'none'"
                          [attr.id]="'accordion-body-' + index"
                          [attr.aria-labelledby]="'accordion-header-' + index">

                          <div class="collapse ng-trigger ng-trigger-collapseState show active" style="opacity: 1;">
                            <div class="card-body">
                              <div class="holiday-list customBody" id="style">
                                <span class="ng-star-inserted">
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0; padding-bottom: 10px;">New Year’s Day</h4></div>
                                    <div class="right"><span>Jan 1, 2021</span></div>
                                  </div>
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0;padding-bottom: 10px;">Good Friday</h4></div>
                                    <div class="right"><span>Apr 2, 2021</span></div>
                                  </div>
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0;padding-bottom: 10px;">Memorial Day</h4></div>
                                    <div class="right"><span>May 31, 2021</span></div>
                                  </div>
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0;padding-bottom: 10px;">Independence Day - Recognized</h4></div>
                                    <div class="right"><span>Jul 5, 2021</span></div>
                                  </div>
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0;padding-bottom: 10px;">Labor Day</h4></div>
                                    <div class="right"><span>Sep 6, 2021</span></div>
                                  </div>
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0;padding-bottom: 10px;">Thanksgiving Day</h4></div>
                                    <div class="right"><span>Nov 25, 2021</span></div>
                                  </div>
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0;padding-bottom: 10px;">Thanksgiving – Day After</h4></div>
                                    <div class="right"><span>Nov 26, 2021</span></div>
                                  </div>
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0;padding-bottom: 10px;">Christmas Eve</h4></div>
                                    <div class="right"><span>Dec 24, 2021</span></div>
                                  </div>
                                  <div class="data ng-star-inserted">
                                    <div class="left"><h4 style="margin: 0;padding-bottom: 10px;">New Year’s Day eve</h4></div>
                                    <div class="right"><span>Dec 31, 2021</span></div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>
                      </cdk-accordion-item>

                      <div class="space"></div>
                        
                      <cdk-accordion-item
                          *ngFor="let item of items2; let index = index;"
                          #accordionItem="cdkAccordionItem"
                          class="example-accordion-item"
                          role="button"
                          tabindex="0"
                          [attr.id]="'accordion-header-' + index"
                          [attr.aria-expanded]="accordionItem.expanded"
                          [attr.aria-controls]="'accordion-body-' + index">
                          <div id="item2" class="example-accordion-item-header" (click)="accordionItem.toggle()">
                            {{ item }}
                          </div>

                          <div
                            class="example-accordion-item-body"
                            role="region"
                            [style.display]="accordionItem.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + index"
                            [attr.aria-labelledby]="'accordion-header-' + index">

                            <div class="card-body">
                                <div class="empty" style="text-align: center;">
                                    <img class="thumbnail" onerror="this.src='./src/assets/images/no-results.png';"
                                     src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="height: 50px; width: 50px"/>
                                    <br>
                                    "No Birthdays found"
                                </div>
                            </div>

                          </div>
                        </cdk-accordion-item>

                        <div class="space"></div>

                        <cdk-accordion-item
                        *ngFor="let item of items3; let index = index;"
                        #accordionItem="cdkAccordionItem"
                        class="example-accordion-item"
                        role="button"
                        tabindex="0"
                        [attr.id]="'accordion-header-' + index"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + index">
                        <div id="item3" class="example-accordion-item-header" (click)="accordionItem.toggle()">
                          {{ item }}
                        </div>

                        <div
                          class="example-accordion-item-body"
                          role="region"
                          [style.display]="accordionItem.expanded ? '' : 'none'"
                          [attr.id]="'accordion-body-' + index"
                          [attr.aria-labelledby]="'accordion-header-' + index">

                          <div class="card-body">
                              <div class="empty" style="text-align: center;">
                                  <img class="thumbnail" onerror="this.src='./src/assets/images/no-results.png';"
                                   src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="height: 50px; width: 50px"/>
                                  <br>
                                  "No Leaves found"
                              </div>
                          </div>

                        </div>
                      </cdk-accordion-item>
                        
                      </cdk-accordion>

                  </div>
              </div>


          </div>
      </div>
  </div>



