  
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <span style="cursor: default">Home</span>
        </li>
        <li class="breadcrumb-item active">
          <span id="sheets">TimeSheets</span>
        </li>
      </ol>
    </div>
    

 
 <div id="DataLoad" class="container">
    <div class="card card-default p-3" style=" border-radius: 0%; padding-bottom: 5px !important;background:#00aae7aa;margin-bottom:15px !important">
      <div class="row">
        <div class="icon-style" >
          <img id="icon" src="https://www.miraclesoft.com/images/employee-profile-pics/dboddepalli.png">
        </div>
        <div class="dataLoad ">
          <h4 style="font-size: 18px">Month</h4>
          <p>September</p>
        </div>
        <div class="vl"></div>
        <div class="dataLoad">
          <h4  style="font-size: 18px">Week</h4>
          <p>Week of 12</p>
        </div>
        <div class="vl"></div>
        <div class="dataLoad">
          <h4  style="font-size: 18px">Submitted Date</h4>
          <p>Sep 17, 2021</p>
        </div>
    </div>
  </div>
  </div>


  <div class="container mt-3">
    <div class="main main-expand-lg main-light bg-light">
      <div class="card card-default p-3 empty" style=" border-radius: 0%; min-height:400px;  padding-bottom:5px !important">
        <div class="row">
          <div class="col-md-3" style="background-color: #fff">

            <a href="/MainData">
              <button class="btn back">
                <i class="fa fa-arrow-left"></i>
              </button>
            </a>

          </div>
          <div class="col-md-6 text-center"></div>
          <div class="col-md-3">

            <button id="bt-r" class="btn right" placement ="top" disabled>
              <i class="fa fa-chevron-right"></i>
            </button> 
           
            <a href="/dataLoad2">
              <button id="bt-l" class="btn left"  popoverClass="my-custom-class" ngbPopover="view previous timesheet" 
              triggers="mouseenter:mouseleave"  placement ="top" >
                <i class="fa fa-chevron-left"></i>
              </button>
            </a>

            <button (click) = "opened(content)" popoverClass="my-custom-class" type="button" class="btn history float-right" 
            ngbPopover="view TimeSheet history" triggers="mouseenter:mouseleave"
            style="margin-right:10px" placement ="top">
              <i class="fa fa-history"></i>
            </button> 
          </div>
        </div>
        
        <div class="row mt-2">
          <div class="col-lg-12">
            <div class="table">
              <table class="table table-hover table-codensed dataTable no-footer">
                <thead>
                  <tr>
                    <th style="width:12.5%">
                      <span class="datesCategory">CATEGORY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/12/2021</span>
                      <br> 
                      <span class="dates">SUNDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/13/2021</span>
                      <br> 
                      <span class="dates">MONDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/14/2021</span>
                      <br> 
                      <span class="dates">TUESDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/15/2021</span>
                      <br> 
                      <span class="dates">WEDNESDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/16/2021</span>
                      <br> 
                      <span class="dates">THURSDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/17/2021</span>
                      <br> 
                      <span class="dates">FRIDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/18/2021</span>
                      <br> 
                      <span class="dates">SATURDAY</span>
                    </th>
                  </tr>
                </thead>
               
                <tbody>
                  <tr class="Main">
                    <td style="width: 12.5%"> 
                      <span class="headers-date">Total(Hrs)</span>
                    </td>
                    <td style="width: 12.5%"> 
                      <span class="header-date">0</span>
                    </td>
                    <td style="width: 12.5%"> 
                      <span class="header-date">8</span>
                    </td>
                    <td style="width: 12.5%"> 
                      <span class="header-date">8</span>
                    </td>
                    <td style="width: 12.5%"> 
                      <span class="header-date">8</span>
                    </td>
                    <td style="width: 12.5%"> 
                      <span class="header-date">8</span>
                    </td>
                    <td style="width: 12.5%"> 
                      <span class="header-date">8</span>
                    </td>
                    <td style="width: 12.5%"> 
                      <span class="header-date">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="textArea">
          <div class="col-md-12" >
            <div id="form" class="form-group form-group-default">
              <label class="notes">Notes</label>
              <br>
              <span class="form-control-group">
              Enter notes related to your daily activity
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


<ng-template #content let-modal>
 
  <div role="dialog" tabindex="-1" style="display:block">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <h4 class="semi-bold">Timesheet Edit history</h4>
            <button class="close" type="button">
              <i class="fa fa-times fs-10" (click)="modal.dismiss('Cross click')"></i>
            </button>
          </div>
          <div class="modal-body text-center m-0">
            <div class="row timeline-scroller">
              <div class="col-md-12">
                <div class="timeline-container top-circle">

                  <section class="timeline">

                    <div class="timeline-blocks">
                      <div class="timeline-point primary">
                        <i id="Clockicon" class="fa fa-clock-o"></i>
                      </div>
                      <div class="timeline-content"></div>
                    </div>

                    <div class="timeline-block">
                      <div class="timeline-point small"></div>
                      <div class="timeline-content">
                        <div class="card social-card share full-width">
                          <div class="card-description">
                            <p>A timesheet for the week of 12<sup>th</sup>
                              has been added
                            </p>
                            <div class="via">By Dinesh Boddepalli</div>
                          </div>
                        </div>
                        <div class="event-date">
                          <small class="fs-12 hint-text">Sep 17, 2021</small>
                        </div>
                      </div>
                    </div>

                    <div class="vls"></div>

                    <div class="timeline-block">
                      <div class="timeline-point small"></div>
                      <div class="timeline-content">
                        <div class="card social-card share full-width">
                          <div class="card-description">
                            <p>A timesheet has been submitted to 
                              <b>Siva Kusampudi</b>
                              for review
                            </p>
                            <div class="via">By Dinesh Boddepalli</div>
                          </div>
                        </div>
                        <div class="event-date">
                          <small class="fs-12 hint-text">Sep 17, 2021</small>
                        </div>
                      </div>
                    </div>

                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>


     