
<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span style="cursor:default">Home</span>
      </li>
      <li class="breadcrumb-item">
        <span style="cursor:default">TimeSheets</span>
      </li>
      <li class="breadcrumb-item">
        <span id="sheets">Add</span>
      </li>
    </ol>
  </div>


  
 
 <div id="DataLoad" class="container">
    <div class="card card-default p-3" style=" border-radius: 0%; padding-bottom: 5px !important;background:#00aae7aa;margin-bottom:15px !important">
      <div class="row">
        <div class="icon-style" >
          <img id="icon" src="https://www.miraclesoft.com/images/employee-profile-pics/dboddepalli.png">
        </div>
        <div class="dataLoad ">
          <h4 style="font-size: 18px">Month</h4>
          <p>September</p>
        </div>
        <div class="vl"></div>
        <div class="dataLoad">
          <h4 style="font-size: 18px">Week</h4>
          <p>Week of 26</p>
        </div>
        <div class="vl"></div>
        <div class="dataLoad">
          <h4 style="font-size: 18px">Created By</h4>
          <p>Dinesh Boddepalli</p>
        </div>
    </div>
  </div>
  </div>


  <div class="container mt-3">
    <div class="main main-expand-lg main-light bg-light">
      <div class="card card-default p-3 empty" style=" border-radius: 0%; min-height:370px;  padding-bottom:5px !important">
        <div class="row">
          <div class="col-md-3" style="background-color: #fff">

            <a href="/MainData">
              <button class="btn back">
                <i class="fa fa-arrow-left"></i>
              </button>
            </a>

          </div>

          <div class="col-md-6 text-center"></div>
         
        </div>
        
        <div class="row mt-2">
          <div class="col-lg-12">
            <div class="table">
              <table class="table table-hover table-codensed dataTable no-footer">
                <thead>
                  <tr>
                    <th style="width:12.5%">
                      <span class="datesCategory">CATEGORY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/26/2021</span>
                      <br> 
                      <span class="dates">SUNDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/27/2021</span>
                      <br> 
                      <span class="dates">MONDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/28/2021</span>
                      <br> 
                      <span class="dates">TUESDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/29/2021</span>
                      <br> 
                      <span class="dates">WEDNESDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">09/30/2021</span>
                      <br> 
                      <span class="dates">THURSDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">10/01/2021</span>
                      <br> 
                      <span class="dates">FRIDAY</span>
                    </th>
                    <th style="width:12.5%">
                      <span class="datesDay">10/02/2021</span>
                      <br> 
                      <span class="dates">SATURDAY</span>
                    </th>
                  </tr>
                </thead>
               
                <tbody>
                  <tr class="Main">
                    <td style="width: 12.5%"> 
                      <span class="headers-date">Total(Hrs)</span>
                    </td>
                    <td style="width: 12.5%"> 
                     <div style="display:flex">
                        <input id="dataEnter" class="form-control" type="number" max="24" min="0" value="0">
                     </div>
                    </td>
                    <td style="width: 12.5%"> 
                        <div style="display:flex">
                            <input id="dataEnter" class="form-control" type="number" max="24" min="0" value="0">
                         </div>
                    </td>
                    <td style="width: 12.5%"> 
                        <div style="display:flex">
                            <input id="dataEnter" class="form-control" type="number" max="24" min="0" value="0">
                         </div>
                    </td>
                    <td style="width: 12.5%"> 
                        <div style="display:flex">
                            <input id="dataEnter" class="form-control" type="number" max="24" min="0" value="0">
                         </div>
                    </td>
                    <td style="width: 12.5%"> 
                        <div style="display:flex">
                            <input id="dataEnter" class="form-control" type="number" max="24" min="0" value="0">
                         </div>
                    </td>
                    <td style="width: 12.5%"> 
                        <div style="display:flex">
                            <input id="dataEnter" class="form-control" type="number" max="24" min="0" value="0">
                         </div>
                    </td>
                    <td style="width: 12.5%"> 
                        <div style="display:flex">
                            <input id="dataEnter" class="form-control" type="number" max="24" min="0" value="0">
                         </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="textArea">
            <div class="form-group form-group-default" 
                style="height: fit-content !important;">
                <div class="container">
                    <label class="notes">Notes</label>
                </div>
                <textarea class="form-control" maxlength="250" 
                placeholder="Enter notes related to your daily activity"
                type="text" spellcheck="false"></textarea>
            </div>
        </div>


        <div class="buttons">
            <div class="row">

                <div class="col-md-6">
                  <div class="upload-btn-wrapper">
                    <label class="myLabel">
                        <input type="file" required/>
                        <span><i class = "fa fa-upload"></i> Upload</span>
                    </label>
                  </div>
                </div>

                <div class="col-md-6">
                    <button type="button" style="background-color: #00AAE7" class="btn submit float-right">
                    submit
                    </button> 
                    <button type="button" class="btn warning float-right mr-2">
                    save as Draft
                    </button>
                </div>

            </div>
        </div>

      </div>
    </div>
  </div>



  <ng-template #content let-modal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-body text-center  m-t-20">
          <div>
            <h2 style="font-weight: 600">You cannot enter more than 24 hours</h2>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <button (click)="modal.dismiss('Cross click')" class="btn btn-success btn-cons">I Understand</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


