<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span style="cursor: default">Home</span>
      </li>
      <li class="breadcrumb-item active">
        <span id="sheets">Payroll</span>
      </li>
    </ol>
  </div>


         <div class="container-fluid">
            <div class="payroll">
                <div class="card card-default p-3" style="min-height: 70vh;">

                  <mat-tab-group>

                    <mat-tab label="PAYSLIP">
                         <div class="container mt-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
                             <div class="row">
                                 <div class="col-md-4">

                                      <div id="options" class="btn-group" dropdown>
                                        <button id="button-basic" dropdownToggle type="button" 
                                          class="btn dropdown-toggle" 
                                          aria-controls="dropdown-basic">
                                          Year
                                          <span class="caret"></span>
                                        </button>
                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                            role="menu" aria-labelledby="button-basic">
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2021</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2020</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2019</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2018</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2017</a></li> 
                                        </ul>
                                    </div>

                                 </div>

                                 <div class="col-md-4">
                                      <div id="options" class="btn-group" dropdown>
                                        <button id="button-basic" dropdownToggle type="button" 
                                          class="btn dropdown-toggle" 
                                          aria-controls="dropdown-basic">
                                          Month
                                          <span class="caret"></span>
                                        </button>
                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                            role="menu" aria-labelledby="button-basic">
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">January</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">February</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">March</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">April</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">May</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">June</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">July</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">August</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">September</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">October</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">November</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">December</a></li>
                                        </ul>
                                    </div>
                                 </div>

                                 <div class="col-md-4">
                                  <button id="Main-button" (click)="getIMDBData()" class="btn btn" type="button"><i class="fa fa-search"></i> Search</button>
                                 </div>

                             </div>
                         </div>

                         <div class="card card-default p-3" style="min-height: 250px">
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Year</th>
                                        <th>Month</th>
                                        <th>Organization</th>
                                        <th>View</th>
                                        <th>Download payslip</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td class="year">2021</td>
                                        <td class="month">sept</td>
                                        <td class="company"> Miracle Software Systems(India), Pvt. Ltd </td>
                                        <td><i class="fa fa-eye" style="color: #00aae7"></i></td>
                                        <td><i class="fa fa-download" style="color: #00aae7; font-size: 17px"></i></td>
                                      </tr>
                                      <tr>
                                        <td class="year">2021</td>
                                        <td class="month">Oct</td>
                                        <td class="company"> Miracle Software Systems(India), Pvt. Ltd </td>
                                        <td><i class="fa fa-eye" style="color: #00aae7"></i></td>
                                        <td><i class="fa fa-download" (click)='download()' style="color: #00aae7; font-size: 17px"></i>
                                        </td>
                                      </tr>
                                     
                                    </tbody>
                                </table>
                              </div>
                            </div>
                         </div>
                    </mat-tab>

                    <mat-tab label="FORM 16B">

                      <div class="card card-default p-3 mt-3">
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <img src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="height: 110px; margin: 55px 0; margin-bottom: 10px"/>
                            <p>
                              <i>Sorry, we weren’t able to find any record with the given criteria </i>
                            </p>
                            <p style="font-size:14px;color:gray;margin-bottom: 30px;">
                              <i>Please change your search options and try again</i>
                            </p>
                          </div>
                        </div>
                      </div>
                      
                    </mat-tab>

                    <mat-tab label="TAX SAVINGS">

                    <div class="container-fluid mt-3">

                          <div class="row">

                            <div class="col-md-3">
                                <div class="form-group form-group-default input-group" style="height: 84%;">
                                  <div class="form-input-group">
                                    <label style="font-weight: 500; font-size: 14px;">START</label>
                                    <input id="date" class="form-control" placeholder="Start Date" style="cursor: pointer;"
                                    name="d2" #c2="ngModel" (click)="d2.toggle()" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                  </div>
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa fa-calendar"></i>
                                    </span>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-group-default input-group" style="height: 84%;">
                                  <div class="form-input-group">
                                    <label style="font-weight: 500; font-size: 14px;">END</label>
                                    <input id="date" class="form-control" placeholder="End Date" style="cursor: pointer;"
                                    name="d2" #c2="ngModel" (click)="d2.toggle()" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                  </div>
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa fa-calendar"></i>
                                    </span>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="options" class="btn-group" dropdown>
                                    <button id="button-basic" dropdownToggle type="button" 
                                      class="btn dropdown-toggle" 
                                      aria-controls="dropdown-basic">
                                      Year
                                      <span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                        role="menu" aria-labelledby="button-basic">
                                        <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2021</a></li>
                                        <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2020</a></li>
                                        <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2019</a></li>
                                        <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2018</a></li>
                                        <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2017</a></li> 
                                    </ul>
                                </div>
                            </div>

                          </div>

                          <div class="row">

                              <div class="col-md-3">
                                  <div id="options" class="btn-group" dropdown>
                                      <button id="button-basic" dropdownToggle type="button" 
                                        class="btn dropdown-toggle" 
                                        aria-controls="dropdown-basic">
                                        Year
                                        <span class="caret"></span>
                                      </button>
                                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                          role="menu" aria-labelledby="button-basic">
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2021</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2020</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2019</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2018</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2017</a></li> 
                                      </ul>
                                  </div>
                              </div>
                              
                              <div class="col-md-4 offset-5 mt-1" style="display: flex">
                                  <button class="btn btn-primary" style="height: 56px; width: 50%; border-radius: 0; font-size: 15px">
                                    <i class="fa fa-search mr-1"></i> Search
                                  </button>
                                  <button class="btn btn-primary ml-3" style="height: 56px; width: 50%; border-radius: 0; font-size: 15px; 
                                  background: #0d416d; border: #0d416d;">
                                    <i class="fa fa-plus mr-1"></i> Add
                                  </button>
                              </div>

                          </div>

                          <div class="row mt-2">
                            
                            <div class="col-md-12">
                              <div class="card card-default p-3 mt-3">
                                <div class="row">
                                  <div class="col-md-12 text-center">
                                    <img src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="height: 110px; margin: 55px 0; margin-bottom: 10px"/>
                                    <p>
                                      <i>Sorry, we weren’t able to find any record with the given criteria </i>
                                    </p>
                                    <p style="font-size:14px;color:gray;margin-bottom: 30px;">
                                      <i>Please change your search options and try again</i>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                    </div>

                    </mat-tab>

                    <mat-tab label="SAVINGS HELP"> 4 </mat-tab>
                    <mat-tab label="NO DUES"> 5 </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
         </div>
        





        <ng-http-loader></ng-http-loader>