<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span style="cursor: default">Home</span>
      </li>
      <li class="breadcrumb-item active">
        <span id="sheets">Payroll</span>
      </li>
    </ol>
  </div>


         <div class="container-fluid">
            <div class="payroll">
                <div class="card card-default p-3" style="min-height: 70vh;">

                  <mat-tab-group>

                    <mat-tab label="PAYSLIP">
                         <div class="container mt-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
                             <div class="row">
                                 <div class="col-md-4">

                                      <div id="options" class="btn-group" dropdown>
                                        <button id="button-basic" dropdownToggle type="button" 
                                          class="btn dropdown-toggle" 
                                          aria-controls="dropdown-basic">
                                          Year
                                          <span class="caret"></span>
                                        </button>
                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                            role="menu" aria-labelledby="button-basic">
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2021</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2020</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2019</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2018</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2017</a></li> 
                                        </ul>
                                    </div>

                                 </div>

                                 <div class="col-md-4">
                                      <div id="options" class="btn-group" dropdown>
                                        <button id="button-basic" dropdownToggle type="button" 
                                          class="btn dropdown-toggle" 
                                          aria-controls="dropdown-basic">
                                          Month
                                          <span class="caret"></span>
                                        </button>
                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                            role="menu" aria-labelledby="button-basic">
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">January</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">February</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">March</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">April</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">May</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">June</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">July</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">August</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">September</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">October</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">November</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">December</a></li>
                                        </ul>
                                    </div>
                                 </div>

                                 <div class="col-md-4">
                                  <button id="Main-button" (click)="getIMDBData()" class="btn btn" type="button"><i class="fa fa-search"></i> Search</button>
                                 </div>

                             </div>
                         </div>

                         <div class="card card-default p-3" style="min-height: 250px">
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Year</th>
                                        <th>Month</th>
                                        <th>Organization</th>
                                        <th>View</th>
                                        <th>Download payslip</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                      <tr>
                                        <td class="year">2021</td>
                                        <td class="month">sept</td>
                                        <td class="company"> Miracle Software Systems(India), Pvt. Ltd </td>
                                        <td>
                                            <i class="fa fa-eye" (click) = "openModalS(payslips)" style="color: #00aae7"></i>
                                        </td>
                                        <td><i class="fa fa-download" (click)='Download()' style="color: #00aae7; font-size: 17px"></i></td>
                                      </tr>

                                      <tr>
                                        <td class="year">2021</td>
                                        <td class="month">Oct</td>
                                        <td class="company"> Miracle Software Systems(India), Pvt. Ltd </td>
                                        <td>
                                            <i class="fa fa-eye" (click)="openModals(payslip)" style="color: #00aae7"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-download" (click)='Download()' style="color: #00aae7; font-size: 17px"></i>
                                        </td>
                                      </tr>
                                     
                                    </tbody>
                                </table>
                              </div>
                            </div>
                         </div>
                    </mat-tab>

                    <mat-tab label="FORM 16B">

                      <div class="card card-default p-3 mt-3">
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <img src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="height: 110px; margin: 55px 0; margin-bottom: 10px"/>
                            <p>
                              <i>Sorry, we weren’t able to find any record with the given criteria </i>
                            </p>
                            <p style="font-size:14px;color:gray;margin-bottom: 30px;">
                              <i>Please change your search options and try again</i>
                            </p>
                          </div>
                        </div>
                      </div>
                      
                    </mat-tab>

                    <mat-tab label="TAX SAVINGS">

                    <div class="container-fluid mt-3">

                          <div class="row">

                            <div class="col-md-3">
                                <div class="form-group form-group-default input-group" style="height: 84%;">
                                  <div class="form-input-group">
                                    <label style="font-weight: 500; font-size: 14px;">START</label>
                                    <input id="date" class="form-control" placeholder="Start Date" style="cursor: pointer;"
                                    name="d2" #c2="ngModel" (click)="d2.toggle()" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                  </div>
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa fa-calendar"></i>
                                    </span>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-group-default input-group" style="height: 84%;">
                                  <div class="form-input-group">
                                    <label style="font-weight: 500; font-size: 14px;">END</label>
                                    <input id="date" class="form-control" placeholder="End Date" style="cursor: pointer;"
                                    name="d2" #c2="ngModel" (click)="d2.toggle()" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                  </div>
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa fa-calendar"></i>
                                    </span>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="options" class="btn-group" dropdown>
                                    <button id="button-basic" dropdownToggle type="button" 
                                      class="btn dropdown-toggle" 
                                      aria-controls="dropdown-basic">
                                      Type of Exemption
                                      <span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                        role="menu" aria-labelledby="button-basic">
                                        <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Bank Fixed Deposits(FDs)-80C</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Equity-linked Savings Scheme(ELSS)-80C</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">House Rent Paid-80GG</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Housing Loan Repayment-Principle-80C</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Insurance for parents-80D</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Insurance other(self,spouse,children)-80D</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Interest on House Property(Housing Loan)-24(b)</a></li> 
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Interest Paid on Education Loan-80E</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Life Insurance Premium-80C</a></li> 
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">National pension scheme(NPS)-80CCD</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">National Saving Certificate(NSC)-80C</a></li> 
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Post Office Time Deposit (POTD)-80C</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Public Provident Fund(PPF) Contribution-80C</a></li> 
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Sukanya Samriddhi Yojana-80C</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Tuition Fees-80C</a></li>  
                                    </ul>
                                </div>
                            </div>

                          </div>

                          <div class="row">

                              <div class="col-md-3">
                                  <div id="options" class="btn-group" dropdown>
                                      <button id="button-basic" dropdownToggle type="button" 
                                        class="btn dropdown-toggle" 
                                        aria-controls="dropdown-basic">
                                        Status
                                        <span class="caret"></span>
                                      </button>
                                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                          role="menu" aria-labelledby="button-basic">
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">All</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Applied</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Approved</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Rejected</a></li>
                                          <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Validity Approved</a></li>
                                          
                                      </ul>
                                  </div>
                              </div>
                              
                              <div class="col-md-4 offset-5 mt-1" style="display: flex">
                                  <button class="btn btn-primary" (click)="getIMDBData()" style="height: 56px; width: 50%; border-radius: 0; font-size: 15px">
                                    <i class="fa fa-search mr-1"></i> Search
                                  </button>
                                  <button class="btn btn-primary ml-3" (click)="open(content)" style="height: 56px; width: 50%; border-radius: 0; font-size: 15px; 
                                  background: #0d416d; border: #0d416d;">
                                    <i class="fa fa-plus mr-1"></i> Add
                                  </button>
                              </div>

                          </div>

                          <div class="row mt-2">
                            
                              <div class="col-md-12">
                                <div class="card card-default p-3 mt-3">
                                  <div class="row">
                                    <div class="col-md-12 text-center">
                                      <img src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="height: 110px; margin: 55px 0; margin-bottom: 10px"/>
                                      <p>
                                        <i>Sorry, we weren’t able to find any record with the given criteria </i>
                                      </p>
                                      <p style="font-size:14px;color:gray;margin-bottom: 30px;">
                                        <i>Please change your search options and try again</i>
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          </div>
                    </div>

                    </mat-tab>

                    <mat-tab label="SAVINGS HELP"> 
                      
                     <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="col-md-12">

                              <cdk-accordion class="example-accordion">
                                <cdk-accordion-item
                                  *ngFor="let item of items; let index = index;"
                                  #accordionItem="cdkAccordionItem"
                                  class="example-accordion-item"
                                  role="button"
                                  tabindex="0"
                                  [attr.id]="'accordion-header-' + index"
                                  [attr.aria-expanded]="accordionItem.expanded"
                                  [attr.aria-controls]="'accordion-body-' + index">
                                  <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                    {{ item }}
                                  
                                  </div>
                                  <div
                                    class="example-accordion-item-body"
                                    role="region"
                                    [style.display]="accordionItem.expanded ? '' : 'none'"
                                    [attr.id]="'accordion-body-' + index"
                                    [attr.aria-labelledby]="'accordion-header-' + index">

                                    <div class="body" style="padding:22px">
                                        <p>
                                          * House Rent Paid Exemption accepts Actuals only.
                                        </p>
                                        <p>
                                          * All the Declarations has a Validity Date,Before the Validity Date ,You must update Actuals against Declarations.
                                        </p>
                                        <p>
                                          * For Example: If you add an Exemption Life Insurance Premium-80C as a Declaration with PaymentDate:07/01/2015 
                                          (For Declarations Type,Date should be less than the current Financial Year). 
                                          Once It get's the approved from the payroll Team,you will get a validity Date.
                                          Let's Say it is 07/01/2016(One year validity). Now,You need to Update the declaration into 
                                          Actuals before 07/01/2016. To Update the declaration into Actuals,Click on the Exemption in the grid,
                                          change the type to Actuals,change the PaymentDate:[Newpaymentdate],Upload new Actual attachment and then 
                                          Click on the update. 
                                        </p>
                                        <p>* Savings file shoud not exceed 2MB.</p>
                                    </div>

                                  </div>
                                </cdk-accordion-item>
                              </cdk-accordion>  
                              
                              <cdk-accordion class="example-accordion">
                                <cdk-accordion-item
                                  *ngFor="let item of item1; let index = index;"
                                  #accordionItem="cdkAccordionItem"
                                  class="example-accordion-item"
                                  role="button"
                                  tabindex="0"
                                  [attr.id]="'accordion-header-' + index"
                                  [attr.aria-expanded]="accordionItem.expanded"
                                  [attr.aria-controls]="'accordion-body-' + index">
                                  <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                   
                                    <div class="collasped">
                                      {{ item }}
                                    </div>
                                    
                                  </div>
                                  <div
                                    class="example-accordion-item-body"
                                    role="region"
                                    [style.display]="accordionItem.expanded ? '' : 'none'"
                                    [attr.id]="'accordion-body-' + index"
                                    [attr.aria-labelledby]="'accordion-header-' + index">

                                    <div class="Nav-warp">
                                      <mat-tab-group>

                                      <mat-tab label="80C MAX-LIMIT-RS150000/-">
                                           <div class="body mt-3" style="padding-bottom: 5px !important;margin-bottom:10px !important">
                                              <div class="row">
                                                <div class="col-md-12">
                                                  * Life Insurance Premium <br>
                                                  * Housing Loan Repayment-Principle <br>
                                                  * National Saving Certificate(NSC) <br>
                                                  * Public Provident Fund(PPF) Contribution <br>
                                                  * Tuition Fees <br>
                                                  * Equity-linked Savings Scheme(ELSS) <br>
                                                  * Post Office Time Deposit (POTD) <br>
                                                  * Bank Fixed Deposits(FDs) <br>
                                                  * Sukanya Samriddhi Yojana 
                                                </div>
                                              </div>
                                           </div>
                                        </mat-tab>

                                        <mat-tab label="80CCD MAX-LIMIT-RS50000/-"> 
                                          
                                          <div class="body mt-3" style="padding-bottom: 5px !important;margin-bottom:10px !important">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <p>* National pension scheme(NPS)</p>
                                              </div>
                                            </div>
                                         </div>

                                        </mat-tab>
                                        <mat-tab label="24(B) MAX-LIMIT-RS200000/-">
                                           
                                          <div class="body mt-3" style="padding-bottom: 5px !important;margin-bottom:10px !important">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <p>* Interest on House Property(Housing Loan)</p>
                                              </div>
                                            </div>
                                         </div>

                                          </mat-tab>
                                        <mat-tab label="80D MAX-LIMIT-RS55000/-">
                                          
                                          <div class="body mt-3" style="padding-bottom: 5px !important;margin-bottom:10px !important">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <p>* Insurance for parents Max Limit- Rs30000/-</p>
                                                <p>* Insurance other(self,spouse,children) Max Limit- Rs25000/-</p>
                                              </div>
                                            </div>
                                         </div>
                                        
                                        </mat-tab>
                                        <mat-tab label="80E-NO LIMIT">
                                          
                                          <div class="body mt-3" style="padding-bottom: 5px !important;margin-bottom:10px !important">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <p>* Interest Paid on Education Loan</p>
                                              </div>
                                            </div>
                                         </div>
                                        
                                        </mat-tab>
                                        <mat-tab label="80GG-NO LIMIT">
                                          
                                          <div class="body mt-3" style="padding-bottom: 5px !important;margin-bottom:10px !important">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <p>* House Rent Paid</p>
                                              </div>
                                            </div>
                                         </div>
                                        
                                        </mat-tab>
                                      </mat-tab-group>
                                    </div>

                                  </div>
                                </cdk-accordion-item>
                              </cdk-accordion>

                            </div>
                        </div>
                     </div>               

                    </mat-tab>

                    <mat-tab label="NO DUES">
                      
                        <div class="container-fluid mt-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-3">
                                          <div id="options" class="btn-group" dropdown>
                                            <button id="button-basic" dropdownToggle type="button" 
                                              class="btn dropdown-toggle" 
                                              aria-controls="dropdown-basic">
                                              Year
                                              <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                role="menu" aria-labelledby="button-basic">
                                                <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2021</a></li>
                                                <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2020</a></li>
                                                <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2019</a></li>
                                                <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2018</a></li>
                                                <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">2017</a></li> 
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="col-md-3">
                                      <div id="options" class="btn-group" dropdown>
                                          <button id="button-basic" dropdownToggle type="button" 
                                            class="btn dropdown-toggle" 
                                            aria-controls="dropdown-basic">
                                            Status
                                            <span class="caret"></span>
                                          </button>
                                          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                              role="menu" aria-labelledby="button-basic">
                                              <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">All</a></li>
                                              <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Applied</a></li>
                                              <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Approved</a></li>
                                              <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Rejected</a></li>
                                              <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Validity Approved</a></li>
                                              
                                          </ul>
                                      </div>
                                  </div>

                                  <div class="col-md-6" style="display:inline-flex">
                                      <button class="btn btn-primary mr-3" (click) = getIMDBData() style="height: 53px;width:30%;border-radius: 0;font-size: 15px;">
                                          <i class="fa fa-search"></i>&nbsp;
                                          <span>Search</span>
                                      </button>
                                      <span class="mr-3" placement="left" style="height: 53px;width:55%;">
                                          <button class="btn btn-primary" (click)="openModal(template)" style="height: 53px;width:100%;border-radius: 0;font-size: 15px;border-color:#2368a0;background-color: #2368a0;">
                                              <i class="fa fa-plus"></i>&nbsp;
                                              <span>Submit No Due</span>
                                          </button>
                                      </span>
                                      <button class="btn btn" style="border: none !important; padding: 0px; margin: -5px 0 0 0;">
                                        <i class="fa fa-info-circle" placement="left"  ngbPopover="Please submit your No Due on or before October
                                        30, 2021 for Q3. Failure to submit the No Dues on time will result in an auto-submission on your behalf." 
                                        triggers="mouseenter:mouseleave" popoverClass="my-custom-class" style="color:#ef4048;width: 12%;font-size: 25px;"></i>
                                      </button>
                                  </div>

                                </div>
                              </div>
                            </div>
                        </div>

                      <div class="row mt-2">
                            <div class="col-md-12">
                              <div class="card card-default p-3 mt-3">
                                <div class="row">
                                  <div class="col-md-12 text-center">
                                    <img src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="height: 110px; margin: 55px 0; margin-bottom: 10px"/>
                                    <p>
                                      <i>Sorry, we weren’t able to find any record with the given criteria </i>
                                    </p>
                                    <p style="font-size:14px;color:gray;margin-bottom: 30px;">
                                      <i>Please change your search options and try again</i>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>  
                      </div>
                    
                    </mat-tab>

                  </mat-tab-group>
                </div>
              </div>
         </div>
        


        <ng-template #content let-modal>
          
          <div class="modal fade slide-up disable-scroll in show" style="display: block">
            <div class="modal-dialog modal-lg">
              <div class="modal-content-wrapper" style="margin-top: 100px;">
                <div class="modal-content" style="width: 800px">
                    <button type="button" class="close" style="margin-top:15px; margin-left: 730px;" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  <div class="modal-body" id="style" style="padding: 0px 25px 25px 25px; max-height: 400px; overflow: auto">
                  
                    <div class="container-fluid">
                        <h2 class="modal-title" id="modal-basic-title">Add Tax Exemptions - <span id="dates">April 2021 to March 2022</span></h2>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-7">
                                        <div id="options" class="btn-group" dropdown>
                                            <button id="button-basic" dropdownToggle type="button" 
                                              class="btn dropdown-toggle" 
                                              aria-controls="dropdown-basic">
                                              Type of Exemption
                                              <span class="caret"></span>
                                            </button>
                                              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                  role="menu" aria-labelledby="button-basic">
                                                  <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Bank Fixed Deposits(FDs)-80C</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Equity-linked Savings Scheme(ELSS)-80C</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">House Rent Paid-80GG</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Housing Loan Repayment-Principle-80C</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Insurance for parents-80D</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Insurance other(self,spouse,children)-80D</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Interest on House Property(Housing Loan)-24(b)</a></li> 
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Interest Paid on Education Loan-80E</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Life Insurance Premium-80C</a></li> 
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">National pension scheme(NPS)-80CCD</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">National Saving Certificate(NSC)-80C</a></li> 
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Post Office Time Deposit (POTD)-80C</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Public Provident Fund(PPF) Contribution-80C</a></li> 
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Sukanya Samriddhi Yojana-80C</a></li>
                                                    <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Tuition Fees-80C</a></li>  
                                              </ul>
                                      </div>
                                </div>

                                <div class="col-md-5">
                                    <div id="options" class="btn-group" dropdown>
                                        <button id="button-basic" dropdownToggle type="button" 
                                          class="btn dropdown-toggle" 
                                          aria-controls="dropdown-basic">
                                          Type 
                                          <span class="caret"></span>
                                        </button>
                                          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                              role="menu" aria-labelledby="button-basic">
                                              <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Actuals</a></li>
                                              <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Declarations</a></li>
                                              
                                          </ul>
                                    </div>
                                </div>

                            </div>
                          </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group form-group-default input-group" style="height: 84%;">
                                            <div class="form-input-group">
                                                <label style="font-weight: 500; font-size: 12px;">Payment Date</label>
                                                <input id="date" class="form-control" placeholder="Select Date" style="cursor: pointer;"
                                                name="d2" #c2="ngModel" (click)="d2.toggle()" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                  <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                      <div class="form-group form-group-default input-group" style="height: 84%">
                                          <div class="form-input-group" style="border: 1px solid #DEDEDE">
                                              <label style="font-weight: 500; font-size: 12px;">Applied Amount</label>
                                              <input type="text" id="date" class="form-control" style="cursor: pointer;">
                                          </div>
                                      </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div id="options" class="btn-group" dropdown>
                                            <button id="button-basic" dropdownToggle type="button" 
                                              class="btn dropdown-toggle" 
                                              aria-controls="dropdown-basic">
                                              Status
                                              <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                role="menu" aria-labelledby="button-basic">
                                                <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">Applied</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="textArea">
                                    <div class="form-group form-group-default" 
                                        style="height: fit-content !important;">
                                          <div class="container">
                                              <label class="notes">Comments</label>
                                          </div>
                                        <textarea class="form-control" maxlength="250" 
                                        type="text" spellcheck="false"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                              <div class="upload-btn-wrapper">
                                <label class="myLabel">
                                    <input type="file" required/>
                                    <span><i class = "fa fa-upload"></i> Upload</span>
                                </label>
                              </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-8 m-t-10 sm-m-t-10">
                                <button id = "reset" class="btn btn miracle-submit m-t-5" style="float: left" type="button">Reset</button>
                            </div>
                            <div class="col-md-4 m-t-10 sm-m-t-10">
                                <button id = "save" class="btn btn miracle-submit m-t-5" type="button" disabled="">Save</button>
                            </div>
                        </div>

                    </div>  

                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </ng-template>


        <ng-template #template>
          
          <div class="modal fade slide-up disable-scroll in show" style="display: block">
            <div class="modal-dialog modal-lg">
              <div class="modal-content-wrapper" style="margin-top: 100px;">
                <div class="modal-content" style="width: 800px">
                    <button type="button" class="close" style="margin-top:15px; margin-left: 730px;" aria-label="Close" (click)="modalRef?.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body" id="style" style="padding: 0px 25px 25px 25px; overflow: auto">
                        <h4><span class="semibold">Submit No Dues</span></h4>
                        <p class="p-b-10">
                          No Dues is a quarterly HR process that all employees must adhere to. If employees
                          do NOT submit their no dues within 15 days of the end of the previous quarter, 
                          then No Dues will be submitted automatically.
                        </p>
                        <div class="content" id="style">
                            <form class="unform">
                                <div class="row">

                                    <div class="col-md-4">
                                      <div class="form-group form-group-default disabled">
                                        <label style="color: #000;" class="">Year</label>
                                        <input class="form-control input" disabled="" formcontrolname="year" placeholder="2021" type="text">
                                      </div>
                                    </div>

                                    <div class="col-md-4">
                                      <div class="form-group form-group-default disabled">
                                        <label style="color: #000;" class="">Quarter</label>
                                        <input class="form-control input" disabled="" formcontrolname="year" placeholder="Q3" type="text">
                                      </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div style="display: inline-flex;">
                                            <p style="line-height: 15px;">Any Due? 
                                                <i class="fa fa-info-circle" placement="bottom" style="color:#00aae7" tooltip="If you have any amounts due to you from payroll, please do select this option as yes."></i>
                                            </p>
                                        </div>
                                        <label class="switch" style="display: block;">
                                            <span class="slider">
                                                <mat-slide-toggle [(ngModel)] = "isChecked">{{toggleshow()}}</mat-slide-toggle>
                                            </span>
                                        </label>
                                    </div>

                                </div>

                                <div *ngIf="isChecked"> Div is showing</div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkbox check-success">
                                            <input disabled="" formcontrolname="ack" id="checkbox1" type="checkbox" class="ng-untouched ng-pristine ng-valid">
                                            <label _ngcontent-c14="" for="checkbox1">
                                            I hereby acknowledge and confirm towards the Full and Final settlement of all my dues pertaining to commissions, bonuses, 
                                            earned encashment, wages, notice pay, leave compensation or any other claim in association with my employment with Miracle.
                                            I successfully received all outstanding dues towards my full and final settlement under provident fund, gratuity act and 
                                            certificates due to me under Income Tax. I will not demand or claim at all against Miracle. I further acknowledge and discharge 
                                            forever Miracle and their heirs, executors, administrators, successors or assigns from all liabilities.</label>
                                        </div>
                                        <div class="checkbox check-success">
                                            <input disabled="" formcontrolname="receivedAck" id="checkbox1" type="checkbox" class="ng-untouched ng-pristine ng-valid">
                                                <label for="checkbox1">
                                                  I am having the following dues that needs to be settled subject to Finance/ Manager's approvals.
                                                </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                  <div class="col-md-9">

                                  </div>
                                  <div class="col-md-3 text-right">
                                    <button id="submit" class="btn btn m-t-5 pull-right" type="button">Submit</button>
                                  </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </ng-template>


        <ng-template #payslips style="margin-top: 100px;">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Payslip - {{payslipMonths}} 2021</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="width: 500px; height: 500px">
            <div>
              <iframe
                  src="/assets/pdf/sample.pdf"
                  frameBorder="0"
                  scrolling="auto"
                  height="450px"
                  width="450px">
              </iframe>
            </div>
          </div>
        </ng-template>


        <ng-template #payslip style="margin-top: 100px;">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Payslip - {{payslipMonth}} 2021</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="width: 500px; height: 500px">
            <div>
              <iframe
                  src="/assets/pdf/sample.pdf"
                  frameBorder="0"
                  scrolling="auto"
                  height="450px"
                  width="450px">
              </iframe>
            </div>
          </div>
        </ng-template>




        <ng-http-loader></ng-http-loader>