<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span style="cursor: default">Home</span>
      </li>
      <li class="breadcrumb-item active">
        <span id="sheets">Payroll</span>
      </li>
    </ol>
  </div>


         <div class="container-fluid">
            <div class="payroll">
                <div class="card card-default p-3" style="min-height: 70vh;">

                  <mat-tab-group>
                    <mat-tab label="PAYSLIP">
                         <div class="container mt-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
                             <div class="row">
                                 <div class="col-md-4">

                                      <div id="options" class="btn-group" dropdown>
                                        <button id="button-basic" dropdownToggle type="button" 
                                          class="btn dropdown-toggle" 
                                          aria-controls="dropdown-basic">
                                          Time (EST)
                                          <span class="caret"></span>
                                        </button>
                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                            role="menu" aria-labelledby="button-basic">
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">12:00 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">12:30 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">01:00 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">01:30 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">02:00 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">02:30 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">03:00 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">03:30 AM</a></li>
                                        </ul>
                                    </div>

                                 </div>

                                 <div class="col-md-4">
                                      <div id="options" class="btn-group" dropdown>
                                        <button id="button-basic" dropdownToggle type="button" 
                                          class="btn dropdown-toggle" 
                                          aria-controls="dropdown-basic">
                                          Time (EST)
                                          <span class="caret"></span>
                                        </button>
                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                            role="menu" aria-labelledby="button-basic">
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">12:00 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">12:30 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">01:00 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">01:30 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">02:00 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">02:30 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">03:00 AM</a></li>
                                            <li id="option" role="menuitem"><a class="dropdown-item" href="JavaScript:void(0)">03:30 AM</a></li>
                                        </ul>
                                    </div>
                                 </div>

                                 <div class="col-md-4">
                                  <button id="Main-button" class="btn btn" type="button">Request Bridge</button>
                                 </div>

                             </div>
                         </div>

                         <div class="card card-default p-3" style="min-height: 250px">
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Year</th>
                                        <th>Month</th>
                                        <th>Organization</th>
                                        <th>View</th>
                                        <th>Download payslip</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td class="year">2021</td>
                                        <td class="month">sept</td>
                                        <td class="company"> Miracle Software Systems(India), Pvt. Ltd </td>
                                        <td><i class="fa fa-eye" style="color: #00aae7"></i></td>
                                        <td><i class="fa fa-download" style="color: #00aae7; font-size: 17px"></i></td>
                                      </tr>
                                    </tbody>
                                </table>
                              </div>
                            </div>
                         </div>
                    </mat-tab>

                    <mat-tab label="FORM 16B"> 2 </mat-tab>
                    <mat-tab label="TAX SAVINGS"> 3 </mat-tab>
                    <mat-tab label="SAVINGS HELP"> 4 </mat-tab>
                    <mat-tab label="NO DUES"> 5 </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
         </div>
        
    