.breadcrumb{
  background-color: #F0F0F0;
}

#sheets{
  cursor: default;
  text-decoration: none !important;
  color:#0090D9;
}
  
#sheets:hover{
  text-decoration: none !important;
  color:#0090D9;
  background-color: #F0F0F0;
}
    
#style-block{
  background-color: #fff;
  color:black;
}

div.space{
  margin-left: 15px;
  font-size: 14px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px 10px 10px 55px;
  border-radius: 10px;
  display: flex;
  position: relative;
  background-color: #0D416B;
  color: #fff;
  min-height: 40px;
}
img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  position: absolute;
  left: -8px;
  top: -5px;
}


button#button{
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

button#button1{
  margin-left: 30px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  display: hidden;
}

