div#navbar{
  position: sticky;
}


div#Profile{
  margin-left: 945px;
}

div span.thumbnail-wrapper{
  margin-left: 15px;
}

div span img#thumbnail{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.breadcrumb{
    background-color: #F0F0F0;
}
a#sheets:hover{
  text-decoration: none !important;
  color:#0090D9
}
.active{
    color: #0090D9;
}
.content{
    background:#ffffff;
}

.down{
    background: #ffffff;
    height: 55px;
    width: 140px;
    border-radius: 0; 
    font-size: 15px;
    color: #404040;
}

.downn{
  background: #ffffff;
  height: 55px;
  width: 140px;
  border-radius: 0; 
  font-size: 15px;
  color: #404040;
  border: 1px solid #B5B5B5;
}

.down:hover{
  height: 55px;
  width: 140px;
  border-radius: 0; 
  font-size: 15px;
  color: #404040;
}


button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}


#status{
    background-color: #ffffff;
    padding: 14px 12px 14px 18px; 
    text-align: center;
    font:13.5px;
    border: none;
}

#stat{
    background-color: #ffffff;
    color: #2c2c2c59;
    font-weight: 10.5px;
    padding: 14px 12px 14px 18px;
    text-align: center;
    border-top: none;
}

#sta{
  color: #2c2c2c59;
}

.pagination{
    font-size: 12px;
    padding: 0 20px;
    color: #575757;
    float: right;
    background-color: #fff;
    border-radius: 0 !important;

}

hr.style-two {
  margin-top: 40px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright{
  font-size: 12px;
}

#btn-Proceed{
  background-color:#323237;
  border: none;
  padding:0px; 
  margin-bottom: 30px;
  height: 40px;
  min-width:35%;
  border-radius: 0; 
  font-size: 15px; 
}

h5.Txt{
  font-size: 17px;
}


tr.data:hover{
  border: 1px solid #B5B5B5;
  cursor: pointer;
}

p.label{
  color: #ffffff;
}

i#icon-home{
  margin-left: 33px;
  color: #91ADA8;
  font-size: 16px;
  float: left;
}

i#icon-home:hover{
  color: #fff;
  transition: all 0.2s ease;
}

i#icons-list{
  margin-left: 60px;
  color: #91ADA8;
  font-size: 16px;
  float: left;
}

i#icons-list:hover{
  color: #fff;
  transition: all 0.2s ease;
}

i#icon-search{
  margin-left: 22px;
  color: #91ADA8;
  font-size: 16px;
  float: left;
}

i#icon-search:hover{
  color: #fff;
  transition: all 0.2s ease;
}

i#icons-phone{
  margin-left: 66px;
  color: #91ADA8;
  font-size: 16px;
  float: left;
}

i#icons-phone:hover{
  color: #fff;
  transition: all 0.2s ease;
}

i#icons{
  margin-left: 50px;
  color: #91ADA8;
  font-size: 16px;
  float: left;
  padding: 0px 14px 0px 0px;
}

i#icons:hover{
  color: #fff;
  transition: all 0.2s ease;
}


div span#sideMenu{
  font-size: 15px; 
  color: #91ADA8;
  font-family: 'Open Sans',sans-serif!important;
}

div span#sideMenu:hover{
  color: white;
  transition: all 0.2s ease;
}

div span#sideMenu:focus{
  color: white;
  transition: all 0.2s ease;
}

div span#sideMenu:active{
  color: white;
  transition: all 0.2s ease;
}