        
    <div class="profile-new-component">

            <div>
                <div class="row" style="background: #0d416b;color:white;padding: 20px 15px; margin:0;">
                    <div class="col-md-10" style="display: inline-flex;">
                        <div class="users-image">
                            <img alt="" style="height: 75px;width:75px;border-radius:15%" src="https://www.miraclesoft.com/images/employee-profile-pics/dboddepalli.png?date=Tue Oct 19 2021 14:06:49 GMT+0530 (India Standard Time)">
                        </div>
                        <div style="margin-left: 2%;">
                            <h3 class="" style="font-size: 38px;margin-top: 0;color: #ffffff;font-weight: 400; font-family:Arial, sans-serif"> Dinesh Boddepalli </h3>
                            <div class="designation" style="font-size: 18px; margin-top: 15px;"> Jr.Web Master </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button (click)="open(content)" class="btn pull-right" > View as others</button>
                    </div>
                </div>
            </div>


            <div>
                <div class="row mt-2 p-4">
                    <div class="col-md-3 profile-sidebar">
                        <div class="card social-card share col1 nav nav-tabs" id="nav-tab" role="tablist" style="width: 100%">
                            <div class="card-description p-0">
                                <p class="desc active" style="font-weight: 700;">
                                    <i class="fa fa-user"></i> Personal 
                                </p>
                                <p class="desc" style="font-weight: 700;">
                                    <i class="fa fa-briefcase"></i> Work 
                                </p>
                                <p class="desc" style="font-weight: 700;">
                                    <i class="fa fa-address-card-o"></i> Identity 
                                </p>
                                <p class="desc" style="font-weight: 700;">
                                    <i class="fa fa-phone"></i> Contact 
                                </p>
                                <p class="desc" style="font-weight: 700;">
                                    <i class="fa fa-building"></i> Banking 
                                </p>
                                <p class="desc" style="font-weight: 700;">
                                    <i class="fa fa-graduation-cap"></i> Education 
                                </p>
                                <p class="desc" style="font-weight: 700;">
                                    <i class="fa fa-certificate"></i> Skills 
                                </p
                                ><p class="desc" style="font-weight: 700;">
                                    <i class="fa fa-globe"></i> Social
                                </p>
                                <p class="desc" style="font-weight: 700;">
                                    <i class="fa fa-plane"></i> Travel 
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">

                        <!--Personal-->
                        <div class="card social-card share col1" data-social="item" style="width: 100%">
                            <div class="card-header clearfix">
                                <h5 class="card-header-text "> Personal</h5>
                                <button class="btn btn-small-custom pull-rights mr-2">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </div>
                            <div class="card-description">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="for-label" for="">First Name</label>
                                        <p class="for-text">Dinesh</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="for-label" for="">Middle Name</label>
                                        <p class="for-text">Kumar</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="for-label" for="">Last Name</label>
                                        <p class="for-text">Boddepalli</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Alias Name</label>
                                        <p class="for-text">Dinesh kumar</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Gender</label>
                                        <p class="for-text">Male </p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Marital Status</label>
                                        <p class="for-text">Single</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Physically Challenged</label>
                                        <p class="for-text">No</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Blood Group</label>
                                        <p class="for-text">O+</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                         <!--Work-->
                        <div class="card social-card share col1" style="width: 100%">
                            <div class="card-header clearfix">
                                <h5 class="card-header-text">Work</h5>
                            </div>
                            <div class="card-description">
                                <div class="row ng-star-inserted">
                                    <div class="col-md-4">
                                        <label class="for-label" for="">Is Lateral Hire?</label>
                                        <p class="for-text">No</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="for-label" for="">Previous Experience</label>
                                        <p class="for-text">N/A</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Status</label>
                                        <br>
                                        <span class="label label-success">Active</span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="for-label" for="">Lives In</label>
                                        <p class="for-text">India</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="for-label" for="">Works For</label>
                                        <p class="for-text">USA</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Work Location</label>
                                        <p class="for-text">Miracle City</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Type</label>
                                        <p class="for-text">Full Time</p>
                                    </div>
                                    <div class="col-md-8 mt-2">
                                        <label class="for-label" for="">Organization</label>
                                        <p class="for-text">Miracle Software Systems(India), Pvt. Ltd </p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Department</label>
                                        <p class="for-text">Marketing</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Team Name</label>
                                        <p class="for-text">Web Design</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Designation</label>
                                        <p class="for-text">Jr.Web Master</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Reports to</label>
                                        <p class="for-text">Siva  Kusampudi</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Operation Contact</label>
                                        <p class="for-text">Padma Priya Kamsu</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Date Of Joining</label>
                                        <p class="for-text">Sep 7, 2021</p>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label class="for-label" for="">Shift Timings</label>
                                        <p class="for-text">02:00PM - 11:00PM</p>
                                    </div>
                                    <div class="for-text col-md-12 mt-2">
                                        <label class="for-label" for="">Tags</label>
                                        <br>
                                        <span class="ng-star-inserted"> N/A </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                     <!--Identity-->
                    <div class="card social-card share col1 ng-star-inserted" data-social="item" style="width: 100%">
                            <div class="card-header clearfix">
                                <h5 class="card-header-text "> Identity</h5>
                                <button type="button" id="eye" (click)="myFunction()" class="btn btn-small-custom pull-rights ng-star-inserted">
                                    <i class="fa fa-eye-slash">{{hide ? 'visibility_off' : 'visibility'}}</i>
                                </button>
                                <button class="btn btn-small-custom pull-rights mr-2 ng-star-inserted">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </div>

                        <div class="card-description">
                            <div class="row ng-star-inserted">

                                <div class="col-md-4">
                                    <label class="for-label" for="">PAN/SSN #</label>
                                    <p class="for-text">XXXXXXXX</p>
                                </div>

                                <div class="col-md-8 ng-star-inserted">
                                    <label class="for-label" for="">Name as per PAN</label>
                                    <p class="for-text">BODDEPALLI DINESHKUMAR</p>
                                </div>

                                <div class="col-md-4 mt-2 ng-star-inserted">
                                    <label class="for-label" for="">Aadhar #</label>
                                    <p class="for-text">XXXXXXXX</p>
                                </div>

                                <div class="col-md-8 mt-2 ng-star-inserted">
                                    <label class="for-label" for="">Name as per Aadhar</label>
                                    <p class="for-text">Boddepalli Dinesh Kumar</p>
                                </div>

                                <div class="col-md-3 mt-2 ng-star-inserted">
                                    <label class="for-label" for="">UAN #</label>
                                    <p class="for-text">XXXXXXXX</p>
                                </div>

                                <div class="col-md-3 mt-2 ng-star-inserted">
                                    <label class="for-label" for="">PF #</label>
                                    <p class="for-text">XXXXXXXX</p>
                                </div>

                                <div class="col-md-3 mt-2">
                                    <label class="for-label" for="">ESI #</label>
                                    <p class="for-text">XXXXXXXX</p>
                                </div>

                                <div class="col-md-3 mt-2 ng-star-inserted">
                                    <label class="for-label" for="">NSR #</label>
                                    <p class="for-text">XXXXXXXX</p>
                                </div>

                                <div class="col-md-4 mt-2">
                                    <label class="for-label" for="">Date of Birth</label>
                                    <p class="for-text">XXXXXXXX</p>
                                </div>

                                <div class="col-md-6 mt-2">
                                    <label class="for-label" for="">Show Date of Birth to others</label>
                                    <p class="for-text">No</p>
                                </div>

                            </div>
                        </div>
                    </div>
                            



                    <!--Contact-->
                    <div class="card social-card share col1 ng-star-inserted" data-social="item" style="width: 100%">

                        <div class="card-header clearfix">
                            <h5 class="card-header-text">Contact</h5>
                            <button class="btn btn-small-custom pull-rights mr-2 ng-star-inserted">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>

                        <div class="card-description">

                            <div class="row ng-star-inserted">
                                <div class="col-md-4">
                                    <label class="for-label" for="">Work Phone #</label>
                                    <p class="for-text">N/A</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="for-label" for="">Personal Phone # </label>
                                    <p class="for-text">9502955643</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="for-label" for="">Alternate Phone # </label>
                                    <p class="for-text">9912843738</p>
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="for-label" for="">Emergency Contact Name </label>
                                    <p class="for-text">B.RAJA RAMI NAIDU</p>
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="for-label" for="">Emergency Contact Relation </label>
                                    <p class="for-text">Parent</p>
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="for-label" for="">Emergency Contact Phone # </label>
                                    <p class="for-text">9912843738</p>
                                </div>
                                <div class="col-md-8"></div>
                                <div class="col-md-6 mt-2">
                                    <label class="for-label" for="">Corporate Email</label>
                                    <p class="for-text">dboddepalli@miraclesoft.com </p>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <label class="for-label" for="">Personal Email</label>
                                    <p class="for-text">dk6089567@gmail.com </p>
                                </div>
                                <div class="col-md-12">
                                    <label class="for-label" for="">Show Personal Phone To Others </label>
                                    <p class="for-text">No</p>
                                </div>
                                <div class="col-md-6 mt-2 ng-star-inserted">
                                    <div class="ng-star-inserted">
                                        <label>Home Address 
                                            <span class="label label-success">Active</span>
                                        </label>
                                        <p class="for-text">DR-No:7-6-78/2; Yenugula Mahal Street; New Colony Road </p>
                                        <p class="for-text">DR-No:7-6-78/2; Yenugula Mahal Street; New Colony </p>
                                        <p class="for-text">Srikakulam </p>
                                        <p class="for-text">India, 532001 </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>




                     <!--Banking-->
                    <div class="card social-card share col1 ng-star-inserted" data-social="item" style="width: 100%">
                        <div class="card-description">
                            <div class="row ng-star-inserted"></div>
                        </div>
                        <div class="row initial-account align-items-center justify-content-center ng-star-inserted" style="height: 48vh;margin-left: 186px;width: 50%;">
                            <div class="col-md-12">
                                <div style="text-align: center;">
                                    <img class="no-result-img" src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="margin-bottom:10px">
                                    <p class="result-desp">
                                        <i>no banking details avaliable 
                                            <span style="font-weight: bold;color:#00aae7"></span>
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>





                     <!--Education-->
                    <div class="card social-card share col1 ng-star-inserted" data-social="item" style="width: 100%">
                        <div class="card-header clearfix">
                            <h5 class="card-header-text">Education</h5>
                            <button class="btn btn-small-custom pull-rights mr-2">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="card-description">
                            <div class="row education">
                                <table class="table table-hover no-border ng-star-inserted">
                                    <thead>
                                        <tr style="color: #2c2c2c59; font-weight:200">
                                            <th>Degree</th>
                                            <th>Specialization</th>
                                            <th>Institution</th>
                                            <th>Year</th>
                                            <th>Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="ng-star-inserted">
                                            <td> Bachelors of Technology </td>
                                            <td>  Computer Science And Engineering</td>
                                            <td> Sri Sivani College of Engineering, Srikakulam </td>
                                            <td> 2020 </td>
                                            <td> 62.41% </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>




                <!--Skills-->
                <div>

                    <div class="card social-card share  col1" data-social="item" style="width: 100%">
                        <div class="circle" data-container="body" data-toggle="tooltip" title="Label"></div>
                        <div class="card-header clearfix skill-cert">
                            <h5>Skills</h5>
                            <button class="btn btn-small-custom pull-rights mr-2 ng-star-inserted">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                        <div class="card-description">
                            <div class="skill-in-div ng-star-inserted">
                                <p class="ng-star-inserted">
                                    <a class="label label-miracle-dark mr-2" style="color: white">Web technologies</a>
                                </p>
                                <p class="ng-star-inserted">
                                    <a class="label label-miracle-dark mr-2 label-miracle-light" style="color: white">Html</a>
                                </p>
                                <p class="ng-star-inserted">
                                    <a class="label label-miracle-dark mr-2" style="color: white">Css</a>
                                </p>
                                <p class="ng-star-inserted">
                                    <a class="label label-miracle-dark mr-2 label-miracle-light" style="color: white">java script</a>
                                </p>
                                <p class="ng-star-inserted">
                                    <a class="label label-miracle-dark mr-2" style="color: white">React js</a>
                                </p>
                                <p class="ng-star-inserted">
                                    <a class="label label-miracle-dark mr-2 label-miracle-light" style="color: white">nodejs</a>
                                </p>
                                <p class="ng-star-inserted">
                                    <a class="label label-miracle-dark mr-2" style="color: white">expressjs</a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card social-card share col1" data-social="item" style="width: 100%">
                        <div class="circle" data-container="body" data-toggle="tooltip" title="Label"></div>
                        <div class="card-header clearfix skill-cert">
                            <h5>Certifications</h5>
                            <button class="btn btn-small-custom pull-rights mr-2">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                        <div class="card-description ng-star-inserted">
                            <p> Dinesh Boddepalli hasn't added any certifiations yet </p>
                        </div>
                    </div>

                </div>



                <!--Social-->
                <div class="card social-card share col1 ng-star-inserted" data-social="item" style="width: 100%">
                    <div class="card-header clearfix">
                        <h5 class="card-header-text">Social</h5>
                        <button class="btn btn-small-custom pull-rights mr-2 ng-star-inserted">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>

                    <div class="card-description">
                        <div class="row">

                            <div class="col-md-4">
                                <label class="for-label" for="">
                                    <i class="fa fa-linkedin mr-1 ng-star-inserted" style="color: #2368a0;"></i>Linkedin
                                </label>
                            <p class="for-text"> N/A </p>
                            </div>

                            <div class="col-md-4">
                                <label class="for-label" for="">
                                    <i class="fa fa-twitter mr-1 ng-star-inserted" style="color:#00aae7"></i>Twitter
                                </label>
                                <p class="for-text"> N/A </p>
                            </div>
                            <div class="col-md-4">
                                <label class="for-label" for="">
                                    <i class="fa fa-facebook mr-1 ng-star-inserted" style="color:#2368a0"></i>Facebook
                                </label>
                                <p class="for-text"> N/A </p>
                            </div>

                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label class="for-label" for="">
                                    <i class="fa fa-instagram mr-1 ng-star-inserted" style="color:#ff09ec;"></i>Instagram
                                </label>
                                <p class="for-text"> N/A </p>
                            </div>
                        </div>

                    </div>

                </div>




             <!--Passport-->
            <div class="card social-card share col1 ng-star-inserted" data-social="item" style="width: 100%">
                           <div class="card-header clearfix"><h5 class="card-header-text">Passport</h5>
                            <button class="btn btn-small-custom pull-rights mr-2">
                           <i class="fa fa-plus"></i>
                        </button>
                    </div>
                <div class="card-description">
                    <div class="row ng-star-inserted">
                        <div class="col-md-4 ng-star-inserted">
                            <div class="text-center mb-2">
                                <div class="text-center mb-2"></div>
                                <div class="card bank-card" style="background-color: #232527;height: 141px;width: 100%;border-radius:10px;">
                                    <div class="row mt-2 active">
                                        <div class="col-md-8">
                                            <div class="ml-2">
                                                <h5 style="font-weight: 500;color:#ffffff;margin-bottom:5px;font-size: 11px;margin-top: 0;">
                                                    <i class="fa fa-address-card white mr-2"></i> Sep 7, 2021 
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-right"><span></span>
                                            <i class="fa fa-pencil white mr-2"></i>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <h5 style="font-weight: 500;color:#ffffff;font-size: 19px;">U8124656 </h5></div><div class="col-md-12 text-center">
                                                <h5 style="font-weight: 300;color:#ffffff;font-size: 12px;font-style:italic"> DINESH KUMAR BODDEPALLI </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-hidden="false" bsmodal="" class="modal fade slide-up disable-scroll" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-md" style="width:350px !important">
                            <div class="modal-content-wrapper">
                                <div class="modal-content">
                                    <div class="modal-body pb-2 text-center">
                                        <div class="row">
                                            <h5 style="font-weight: 500;">
                                                If you add a Passport, the current Active Passport would be set to Inactive 
                                            </h5>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-12 m-t-10 sm-m-t-10 p-0">
                                                <button class="btn btn-success mr-3" type="button">&nbsp;Proceed</button>
                                                <button class="btn btn-danger mr-3" type="button">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-header clearfix">
                        <h5 class="card-header-text">Travel</h5>
                        <button class="btn btn-small-custom pull-rights mr-2 ng-star-inserted">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                    
                    <div class="card-description">
                        <div class="row ng-star-inserted">

                            <div class="col-md-4">
                                <label class="for-label" for="">Seat Preference</label>
                                <p class="for-text">N/A</p>
                            </div>

                            <div class="col-md-4">
                                <label class="for-label" for="">Meals Preference</label>
                                <p class="for-text">N/A</p>
                            </div>

                            <div class="col-md-4">
                                <label class="for-label" for="">Car Rental Preference</label>
                                <p class="for-text">N/A</p>
                            </div>

                            <div class="col-md-4 mt-2">
                                <label class="for-label" for="">Air Line Preference</label>
                                <p class="for-text">N/A </p>
                            </div>

                            <div class="col-md-4 mt-2">
                                <label class="for-label" for="">Hotel Preference</label>
                                <p class="for-text">N/A</p>
                            </div>

                            <div class="col-md-4 mt-2">
                                <label class="for-label" for="">Preferred Airport</label>
                                <p class="for-text">N/A</p>
                            </div>

                            <div class="col-md-4 mt-2">
                                <label class="for-label" for="">Date Of Birth (For Travel)</label>
                                <p class="for-text">N/A</p>
                            </div>

                            <div class="col-md-4 mt-2">
                                <label class="for-label" for="">First Name (For Travel)</label>
                                <p class="for-text">N/A </p>
                            </div>

                            <div class="col-md-4 mt-2">
                                <label class="for-label" for="">Last Name (For Travel)</label>
                                <p class="for-text">N/A </p>
                            </div>
                        </div>
                    </div>

                    <div class="card-header clearfix" style="border-top: 1px solid #e1e1e1;">
                        <h5 class="card-header-text">Loyalty Program</h5>
                            <button class="btn btn-small-custom pull-rights mr-2">
                                <i class="fa fa-plus"></i>
                            </button>
                    </div>

                    <div class="card-description">
                        <div class="row initial-account align-items-center justify-content-center ng-star-inserted" style="height: 48vh;margin-left: 186px;width: 50%;">
                            <div class="col-md-12">
                                <div style="text-align: center;">
                                    <img class="no-result-img" src="https://hubble.miraclesoft.com/assets/img/no-results.png" style="margin-bottom:10px">
                                    <p class="result-desp">
                                        <i>There are no loyalty programs added 
                                            <span style="font-weight: bold;color:#00aae7"></span>
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>

        </div>
    </div>
</div>

</div>




    <ng-template #content let-modal>
        <div class="modal fade slide-up disable-scroll in show" style="display: block">
            <div class="modal-dialog modal-lg">
              <div class="modal-content-wrapper" style="margin-top: 100px;">
                <div class="modal-content" style="width: 800px">
                  <button type="button" class="close" style="margin-top:15px; margin-left: 730px;" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body" id="style" style="padding: 50px 75px 25px 50px; max-height: 500px; overflow: auto">
            
                    <div>
                          <div class="row">
      
                            <div class="col-md-5 text-center" style="border-right: 1px solid #e1e1e1">
                                  <img alt="" style="height:150px;width:150px" src="https://www.miraclesoft.com/images/employee-profile-pics/dboddepalli.png">
                                  <h5 style="font-size: 19px;">
                                    <span style="font-weight: 500;"> Dinesh Kumar Boddepalli </span>
                                  </h5>
                                    <p style="font-size: 11px;margin-top: -9px;"> (Dinesh kumar)</p>
                                    <p style="font-size: 15px;"> Jr.Web Master</p>
                                    <p style="font-size: 9px;margin-top: -9px;">Since Sep 7, 2021</p>
                            </div>
      
                            <div class="col-md-7">
                                <div class="row" style="display: inline-flex;">
                                    <div class="col-md-5 text-left">
                                      <label class="for-label" for="">Mail ID</label>
                                    </div>
                                      <div class="col-md-7 text-right">
                                        <p class="for-text">
                                          <i class="fa fa-copy mt-1 mr-1" style="color: #b7b2b3;" tooltip="copy"></i>
                                          dboddepalli@mira.. 
                                        </p>
                                      </div>
                                        <div class="col-md-5 text-left">
                                          <label class="for-label" for="">Department</label>
                                        </div>
                                        <div class="col-md-7 text-right">
                                          <p class="for-text">Marketing </p>
                                        </div>
                                        <div class="col-md-5 text-left">
                                          <label class="for-label" for="">Team Name</label>
                                        </div>
                                        <div class="col-md-7 text-right">
                                          <p class="for-text">Web Design </p>
                                        </div>
                                        <div class="col-md-5 text-left">
                                          <label class="for-label" for="">Reports to</label>
                                        </div>
                                        <div class="col-md-7 text-right">
                                          <p class="for-text">Siva   Kusampudi </p>
                                        </div>
                                        <div class="col-md-5 text-left">
                                          <label class="for-label" for="">HR Contact</label>
                                        </div>
                                        <div class="col-md-7 text-right">
                                          <p class="for-text">Padma Priya  Kamsu </p>
                                        </div>
                                    </div>
                                </div>
      
      
                          </div>
      
      
                          <div class="mt-2 badge-custom text-center" id="style" style="margin-bottom: 25px;max-width: 100%;overflow: auto; font-size: 18px;">
                              <a class="mr-1 mt-1 badge" style="border:1px solid #00aae7;color:#00aae7;background-color:  white;"> Web technologies </a>
                              <a class="mr-1 mt-1 badge" style="border:1px solid #00aae7;color:#00aae7;background-color:  white;"> Html </a>
                              <a class="mr-1 mt-1 badge" style="border:1px solid #00aae7;color:#00aae7;background-color:  white;"> Css </a>
                              <a class="mr-1 mt-1 badge" style="border:1px solid #00aae7;color:#00aae7;background-color:  white;"> java script </a>
                              <a class="mr-1 mt-1 badge" style="border:1px solid #00aae7;color:#00aae7;background-color:  white;"> React js </a>
                              <a class="mr-1 mt-1 badge" style="border:1px solid #00aae7;color:#00aae7;background-color:  white;"> nodejs </a>
                              <a class="mr-1 mt-1 badge" style="border:1px solid #00aae7;color:#00aae7;background-color:  white;"> expressjs </a>
                          </div>
                  </div>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
      </ng-template>






      <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
          <a ngbNavLink>One</a>
          <ng-template ngbNavContent>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
              keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
              salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink>Two</a>
          <ng-template ngbNavContent>
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
              farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
              ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
              helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
              8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
              stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink>Three</a>
          <ng-template ngbNavContent>
            <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
              Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
              Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
              egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
              tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
              magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
              neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
          </ng-template>
        </ng-container>
      </nav>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>